.custom-control-label::before {
  border: #bd076070 solid 1px;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem #bd076050;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #bd0760;
  background-color: #bd0760;
}

.new-layer {
  padding: 2rem;
}

.pad {
  padding: 2rem;
}

.scrollable {
  max-height: 200px;
  height: max-content;
  overflow: scroll;
}

@media not print {
  .new-layer {
    background: rgba(128, 128, 128, 0.1);
  }

  .table-dark-c,
  .table-dark-c > td,
  .table-dark-c > th {
    background-color: #c6c8ca;
  }
  .table-dark-c tbody + tbody,
  .table-dark-c td,
  .table-dark-c th,
  .table-dark-c thead th {
    border-color: #95999c;
  }
  .table-hover .table-dark-c:hover {
    background-color: #b9bbbe;
  }
  .table-hover .table-dark-c:hover > td,
  .table-hover .table-dark-c:hover > th {
    background-color: #b9bbbe;
  }
  .table-active,
  .table-active > td,
  .table-active > th {
    background-color: rgba(0, 0, 0, 0.075);
  }
  .table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
  }
  .table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
  }
  .table-dark-c {
    color: #fff;
    background-color: #343a40;
  }
  .table-dark-c td,
  .table-dark-c th,
  .table-dark-c thead th {
    border-color: #454d55;
  }
  .table-dark-c.table-bordered {
    border: 0;
  }
  .table-dark-c.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .table-dark-c.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
  }
}

.table td {
  text-align: center;
}

.hatch {
  background: url("/cross.svg");
  position: relative;
}

.hatch::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("img/no-exam.png") no-repeat center center;
  background-size: 60%;
  opacity: 0.4;
}

.table-dark-c .hatch::after {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  opacity: 0.8;
}

.full-height {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height > * {
  margin-left: auto;
  margin-right: auto;
}
